<link
    rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
/>
<link
    rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
/>

<footer
    class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-cyan mb-3"
>
    <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
    >
        <div
            class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start"
        >
            <a
                class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-blue"
                href="#"
            >
                <img src="/logo.png" alt="YouTube" class="h-10 w-10" />
            </a>
        </div>
        <div class="lg:flex-grow items-center flex items-center">
            <p class="text-right flex-grow text-blue">
                Developed by TechTalk meetup Community
            </p>
        </div>
        <div class="lg:flex flex-grow items-center" id="example-navbar-warning">
            <ul class="flex flex-col lg:flex-row list-none ml-auto">
                <li class="nav-item">
                    <a
                        class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-blue hover:opacity-75"
                        href="https://www.meetup.com/tech-talk-nb/"
                    >
                        <img src="/meetup.svg" alt="Meetup" class="h-10 w-10" />
                        <span class="ml-2">Meetup</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-blue hover:opacity-75"
                        href="https://www.youtube.com/@TechTalkNB"
                    >
                        <img
                            src="/youtube.svg"
                            alt="YouTube"
                            class="h-10 w-10"
                        />
                        <span class="ml-2">Youtube</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-blue hover:opacity-75"
                        href="https://discord.com/invite/grF4GTXXYm"
                    >
                        <img
                            src="/discord.svg"
                            alt="Discord"
                            class="h-10 w-10"
                        /><span class="ml-2">Discord</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
