---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../pages/footer.astro';


---

<Layout title="Welcome to Astro.">
	<main >
            <div class="flex flex-row">
            <!-- <img src="/logo.png" alt="TechTalk NB Logo"/> -->
            <p class="text-4xl text-white">Welcome to TechTalk NB</p>
        </div>
        <Footer />
	</main>
</Layout>

