---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="max-w-xl mx-auto">
        <div class="flex flex-row">
            <img src="/logo.png" alt="TechTalk NB Logo"/>
            <p class="text-4xl text-white">Welcome to TechTalk NB</p>
        </div>
        <a href="#">Discord</a>
        <a href="https://www.youtube.com/@TechTalkNB">Youtube</a>
        <a href="https://www.meetup.com/tech-talk-nb/">Meetup</a>
	</main>
</Layout>

